body{
    background-color: #121212;
    font-family: 'Montserrat', sans-serif;
}
.container-fluid {
    padding-left: 0;
}
.logo{
    width: 80%;
    padding: 5%;
}
.navegacion{
    position: fixed;
    width: 15%;
    height: 100vh;
    background-color: black;
}
a{
    text-decoration: none;
    color: white;
}
.personal{
    padding-top: 10%;
}
.texto{
    padding-top: 6%;
}
footer{
    height: 6vh;
    background: black;
}
.pie {
    padding-top: 1.5%;
    padding-bottom: 2%;
    position: fixed;
    bottom: 0;
    width: 95%;
    background-color: black;
    z-index: 9999; /* Ajusta el valor según sea necesario */
}
.icono{
    margin-right: 3%;
}
.iconouno {
    margin-right: 3%;
}
.iconouno:hover i {
transform: scale(1.2);
}
.musica{
margin-left: 15%;
}
.player {
    margin-left: 25%;
    width: 700px;
    height: 5px;
    background-color: gray;
    border-radius: 5px;
    overflow: hidden;
}
    
    .progress-bar {
    height: 100%;
    background-color:whitesmoke;
    transition: width 0.3s ease;
    width: 50%; /* Ajusta el progreso inicial */
} 
.progress {
    height: 100%;
    background-color: #ffffff;
    width: 0%;
}
.iconos{
    margin-right: 20px;
}
.iconos:hover i {
    transform: scale(1.2);
}
ul{
    margin-left: 0;
}
li{
    list-style: none;
    color: #6a6a6a;
    font-size: 15px;
    padding-top: 10%;
}
.redes{
    padding-left: 50%;
}
.fecha{
    color: #6a6a6a;
    font-size: 15px;
    padding-bottom: 5%;
}
.social{
    background-color: rgb(41, 41, 41);
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
}
.comunidades li:hover {
    color: white;
    text-decoration: underline white;
}
.compania li:hover{
    color: white;
    text-decoration: underline white;
}
.enlaces li:hover{
    color: white;
    text-decoration: underline white;
}
.card{
    background-color: #181818;
    
}
.parrafo{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.carta{
    width: 15%;
    height: 42vh;
    margin-left: 2%;
}
.text{
    color: white;
    font-size: 15px;
}